body {
  margin: 0px auto;
  width: 1000px;
  font-family: 'Raleway', 'Nanum Gothic';
  background-color: #efefef;
}

header {
  width: 1000px;
  height: 30px;
  background-color: #8f8f8f;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
}

header > .tip {
  margin: 0 10px;
}

header > .user {
  display: flex;
}

header > .user > div {
  margin-right: 10px;
}

header a {
  cursor: pointer;
}

nav {
  width: 1000px;
  height: 60px;
  background-color: #b80007;
  display: flex;
}

nav > .logo {
  width: 150px;
  margin-top: 15px;
  margin-bottom: -15px;
  margin-left: 50px;
}

nav > .menu {
  width: 850px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

nav > .menu > .menu-item {
  color: #fefefe;
  font-size: 24px;
}

section {
  width: 1000px;
  background-color: #fefefe;
}

section > iframe {
  width: 100vw;
  height: calc(100vh - 200px);
  margin-left: calc(-50vw + 50%);
}

footer {
  width: 1000px;
  height: 100px;
  background-color: #8f8f8f;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  color: #fefefe;
}

footer > .logo {
  margin-left: 20px;
  vertical-align: middle;
  height: 25px;
}

footer > .logo-right > div {
  width: 800px;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  margin: 10px 0;
}

span {
  display: block;
}

nav a {
  color: #efefef;
}

nav a:visited {
  color: #efefef;
}

header a {
  color: black;
}

header a:visited {
  color: black;
}

a {
  text-decoration-line: none;
}

a:hover {
  text-decoration-line: underline;
}
